@CHARSET "UTF-8";

//@import 'https://fonts.googleapis.com/css?family=Cinzel+Decorative:400,700|Comfortaa';

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.body {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.main {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.four {
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay: 2.0s;
  animation-delay: 2.0s;
}

html {
  text-align: center;
  background-image: url('../img/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //font-family: 'Cinzel Decorative', cursive;
  //font-family: 'Comfortaa', cursive;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: transparent !important;
}

#logo-banner {
  //width: 300px;
}

#top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#top-menu li {
  display: inline;
}

#top-menu a {
  text-decoration: none;
  font-family: 'Cinzel Decorative', cursive;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #9f6e53;
  padding: 10px;
  background: #513527;
  border-radius: 10px;
  border: 1px solid #cbb9ab;
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#top-menu a:hover {
  color:white;
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#top-menu a.active {
  color: white;
}

main {
  margin: 0 auto;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: justify;
}

main h1, h2{
  font-family: 'Cinzel Decorative', cursive !important;
  font-weight: bold !important;
}

main p {
  font-family: 'Comfortaa', cursive !important;
}

footer {
	background-color: white;
	//border-top: 10px solid #f25f00;
  position: relative;
}

footer p {
	margin: 0;
	padding: 2px;
}

footer a {
	color: inherit;
	text-decoration: none !important;
	transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

footer a:hover{
  color: #9f6e53;
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

footer img:hover{
  transform: scale(1.1);
}
