@CHARSET "UTF-8";

@media only screen and (max-width: 1000px) {
    .nuestrosProductos {
        display: none;
    }
}

/* make keyframes that tell the start state and the end state of our object */

@-webkit-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@-moz-keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }
@keyframes fadeIn { from { opacity:0; opacity: 1\9; /* IE9 only */ } to { opacity:1; } }

.fade-in {
  opacity:0;  /* make things invisible upon start */
  -webkit-animation:fadeIn ease-in 1;  /* call our keyframe named fadeIn, use animattion ease-in and repeat it only 1 time */
  -moz-animation:fadeIn ease-in 1;
  animation:fadeIn ease-in 1;

  -webkit-animation-fill-mode:forwards;  /* this makes sure that after animation is done we remain at the last keyframe value (opacity: 1)*/
  -moz-animation-fill-mode:forwards;
  animation-fill-mode:forwards;

  -webkit-animation-duration:1s;
  -moz-animation-duration:1s;
  animation-duration:1s;
}

.fade-in.body {
  -webkit-animation-delay: 0.3s;
  -moz-animation-delay: 0.3s;
  animation-delay: 0.3s;
}

.fade-in.main {
  -webkit-animation-delay: 2.5s;
  -moz-animation-delay: 2.5s;
  animation-delay: 2.5s;
}

.fade-in.one {
  -webkit-animation-delay: 0.7s;
  -moz-animation-delay: 0.7s;
  animation-delay: 0.7s;
}

.fade-in.two {
  -webkit-animation-delay: 1.2s;
  -moz-animation-delay:1.2s;
  animation-delay: 1.2s;
}

.fade-in.three {
  -webkit-animation-delay: 1.6s;
  -moz-animation-delay: 1.6s;
  animation-delay: 1.6s;
}

.fade-in.four {
  -webkit-animation-delay: 2.0s;
  -moz-animation-delay: 2.0s;
  animation-delay: 2.0s;
}

html {
  text-align: center;
  background-image: url('../img/background.jpg');
  background-size: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
  //font-family: 'Cinzel Decorative', cursive;
  //font-family: 'Comfortaa', cursive;
  //font-family: 'Source Sans Pro', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  text-align: center;
  background-color: transparent !important;
}

#logo-banner {
  //width: 300px;
}

#top-menu ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

#top-menu li {
  display: inline;
}

#top-menu a {
  text-decoration: none;
  font-family: 'Cinzel Decorative', cursive;
  margin-left: 10px;
  margin-right: 10px;
  margin-top: 10px;
  margin-bottom: 0;
  color: #9f6e53;
  padding: 10px;
  background: linear-gradient(#513527, #2f1e15); /* Standard syntax */
  background: -o-linear-gradient(#513527, #2f1e15); /* For Opera 11.6 to 12.0 */
  background: -moz-linear-gradient(#513527, #2f1e15); /* For Firefox 3.6 to 15 */
  background: -webkit-linear-gradient(#513527, #2f1e15); /* Safari 5.1 to 6.0 */
  border-radius: 10px;
  //border: 1px solid #cbb9ab;
  border: 1px solid #302017;
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#top-menu a:hover {
  color:#fffccc;
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

#top-menu a.active {
  color:#fffccc;
}

.col-padding {
  padding: 0 !important;
}

main {
  margin: 0 auto;
  padding: 50px;
  border: 1px solid black;
  border-radius: 10px;
  background-color: white;
  text-align: left;
}

main h1, h2, h3{
  font-family: 'Cinzel Decorative', cursive !important;
  font-weight: bold !important;
  color: #fffccc;
}

main h1 {
  font-size: 3em;
}

main h2 {
  //font-style: italic;
}

main p {
  font-family: 'Comfortaa', cursive !important;
  //font-family: 'Source Sans Pro', sans-serif !important;
  font-size: 1.1em;
  text-align: justify;
  //color: #fffccc;
  color: white;
}

.product-menu {
  position: fixed;
  width: 200px;
  margin-left: 20px;
  //margin-top: 70px;
  //background-image: url(../img/transparent-menu.png);
  background-image: url('../img/background-index.png');
  border: 1px solid black;
  border-radius: 20px;
  transition:0.8s;
  -o-transition:0.8s;
  -ms-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
}

.product-menu:hover {
  //background-color: white;
  background-image: url('../img/background-index2.png');
  opacity: 0.8;
  transition:0.8s;
  -o-transition:0.8s;
  -ms-transition:0.8s;
  -moz-transition:0.8s;
  -webkit-transition:0.8s;
}

.product-menu h3 {
  color: #fffccc;
  font-weight: bold;
  text-shadow: 1px 1px 3px #777;
}

.product-menu ul {
  padding-left: 0;
  float: right;
  text-align: right;
  font-family: 'Cinzel Decorative', cursive !important;
}

.product-menu li {
  padding: 5px;
  list-style-type: none;
}

.product-menu a {
  text-decoration: none;
  color: #fffccc;
  font-weight: bold;
  font-size: 1em;
  opacity: 1;
  text-shadow: 1px 1px 3px #777;
}

.product-menu a:hover {
  color: white;
}

.current {
  color: white !important;
}

#main-index {
  background: transparent;
  background-image: url('../img/background-index.png');
  //background-repeat: no-repeat;
  //background-size: 100%;
  //color: white;
  text-shadow: 3px 3px 3px black;
}

#main-products {
  background: transparent;
  background-image: url('../img/background-index.png');
  //background-repeat: no-repeat;
  //background-size: 100%;
  //color: white;
  text-shadow: 3px 3px 5px black;
}

#myGallery {

}

#myGallery img {
  display: none;
  width: 100%;
  border-radius: 30px;
  box-shadow: 0px 0px 40px 5px white;
}

#myGallery img.active {
  display: block;
}

.product {
  margin-bottom: 70px;
}

.product-img {
  width: 250px;
  border-radius: 45px;
  box-shadow: 0px 0px 40px 5px white;
}

.left {
  float: left;
  margin-right: 30px;
}

.right {
  float: right;
  margin-left: 30px;
}

footer {
	background-color: transparent;
	//border-top: 10px solid #f25f00;
  position: relative;
}

footer p {
	margin: 0;
	padding: 2px;
}

footer a {
	color: inherit;
	text-decoration: none !important;
	transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

footer a:hover{
  color: #9f6e53;
  transition:.5s;
  -o-transition:.5s;
  -ms-transition:.5s;
  -moz-transition:.5s;
  -webkit-transition:.5s;
}

footer img:hover{
  transform: scale(1.1);
}
